[Unit]
Description=Run tweak-backup every day at 03:45 Europe/Madrid

[Timer]
OnCalendar=*-*-* 03:45:00 Europe/Madrid
Persistent=true

[Install]
WantedBy=timers.target
