.task-note-indicator {
  max-width: 100%;
  border-radius: 11px;
  display: inline-block;
  padding-left: 6px;
  padding-right: 6px;
  line-height: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

.task-note-icon {
  text-align: left;
  font-size: 12px;
}
