.grid-6-col {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 10px;
  min-width: 1200px;
  align-items: stretch;
  /* Ensure columns don't get too squashed before scrolling */
}